<section class="card shadow mb-5">
  <div class="card-header">
    <h2 class="text-uppercase">Botones</h2>
  </div>
  <div class="card-body text-center p-4">
    <div id="buttons" class="mb-3">
      <button
        class="btn btn-danger"
        (click)="textColor = 'text-danger'"
        [disabled]="canPress"
      >
        Rojo
      </button>

      <button
        class="btn btn-success mx-3"
        (click)="textColor = 'text-success'"
        [disabled]="canPress"
      >
        Verde
      </button>

      <button
        class="btn btn-primary"
        (click)="textColor = 'text-primary'"
        [disabled]="canPress"
      >
        Azul
      </button>
    </div>

    <button (click)="canPress = !canPress" class="btn btn-secondary">Activar/Desactivar</button>

    <p [class]="textColor">Texto que va a cambiar de color</p>
    {{ textColor | json }}
  </div>
</section>
